<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142036965191-bc4ijbua99otf98aobgvmhv0fq049p2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142036965191-bc4ijbua99otf98aobgvmhv0fq049p2i</string>
	<key>API_KEY</key>
	<string>AIzaSyAMePkxhUDPwcTGDfAjbJkxLpW2qmcxgNM</string>
	<key>GCM_SENDER_ID</key>
	<string>142036965191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalApp</string>
	<key>PROJECT_ID</key>
	<string>is767-2021-chavisa</string>
	<key>STORAGE_BUCKET</key>
	<string>is767-2021-chavisa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142036965191:ios:5818f5be2dda808b091e62</string>
</dict>
</plist>